*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("portfolioachtergrondV4.png");
}

.ele1{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
}
